<table id="providerList" class="display table-hover table-bordered" data-source="<%= providers_url(format: "json") %>">	
	<thead id="hd" align="left">
		<tr>
		  <th>Last Name</th>
		  <th>First Name</th>
		  <th>Team</th>
	  	<th> NPI </th>
	 	 	<th/>
		</tr>
	</thead>

  <tbody>
		<%= render partial: 'provider_row', collection: providers%>
	</tbody>
</table>

