missing_provider_info.txt
upload_errors.txt
log/*.log
*.log
*.sqlite3
public/clinical_documents
config/database.yml
coverage.data
coverage
public/laika
public/assets
*.DS_Store
tmp/*
config/deploy_local.rb
*.sw[pon]
tags
config/glassfish.yml
*.pid
doc
.yardoc
Thumbs.db
.bundle
.bundle/config
vendor
dump.rdb
