<hr style='margin-bottom:-5px'>
<div style="padding-left:40px; padding-right:40px">
	<table class="table-condensed" style="width:100%">
		<td> <h2><strong>Practices</strong></h2> </td>
	</table>
</div>
<hr style="margin-top:-5px">


<div id="pageContent" style="margin-left:40px; margin-right:40px; width:40%">
	<%= render 'form' %>
	<br />
	<%#= link_to 'Back', practices_path %>
	<h4> Current Practices </h4>
	<table class="table table-hover table-bordered">
		<tr>
		  <th>Name</th>
		  <th></th>
		</tr>

	<% @practices.each do |practice| %>
		<tr>
		  <td><%= practice.name %></td>
		  <td><%= link_to 'Delete', practice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
	</table>

	<br />

	<%= button_to 'Back to Patients', admin_patients_path, class: 'btn btn-info' %>
</div>
